.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100vh;
  background-color: #232323;
}

.textarea {
  width: 90%;
  height: 80vh;
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: none;
  border-radius: 8px 8px 0 0;
  padding: 16px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  resize: none;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  width: 90%;
}

.saveButton {
  width: 100px;
  height: 50px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 8px;
  position: relative;
}

.saveAnimationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  left: 36px;

  position: relative;
}

.loader {
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-top: 4px solid #e2e2e2;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  animation: spin 1s linear infinite, fade-out-and-scale 0.5s 1.5s forwards;
}

.checkMark {
  width: 60%;
  height: 100%;
  border-right: 4px solid #e2e2e2;
  border-bottom: 4px solid #e2e2e2;
  transform: rotate(45deg) scale(0);
  position: absolute;
  top: -8px;
  opacity: 0;
  animation: draw-checkMark 0.5s 2s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-out-and-scale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

@keyframes draw-checkMark {
  0% {
    opacity: 0;
    transform: rotate(45deg) scale(0);
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
}
